html,body {
	margin:0;
	padding:0;
        /*font-size: 12px;*/
	height:100%;
}

#header {
    background:#034BA0;
	width:100%;
    color:white;
    padding-left:0px;
    padding-right:0px;
    height: 80px;
	display: table-cell; /* this says treat this element like a table cell*/
    vertical-align:middle;
    border-bottom: 3px solid #d4d4d4;
}

#divLogo{
    margin:.25em 0 0 1em; /* ADDED */
}


.ui-widget {
    font-family: Arial,Verdana,sans-serif;
    font-size: 0.9em;
}
#searchCriteria {
    padding:10px 10px 0px 10px;

}
#menu {
    padding:0;
    margin:0;
    /*width:0;*/ /* ADDED */
}
#menu li {
    list-style-type:none;
    margin:0 0 0.25em 1em; /* ADDED */
}

#menu a,#menu a:visited {
    display:block;
    height: 38px;
    /*width:9em;*/
    /*border:1px solid #808;*/
    font-family:arial, verdana, sans-serif; /* ADDED */
    /*font-size:0.8em;*/ /* ADDED */
    text-align:left; /* ADDED */
    text-decoration:none; /* ADDED */
    background:#99CCFF;/*#808;*/ /* ADDED */
    color:#000000;/*#eee;*/ /* ADDED */
    padding:0.25em; /* ADDED */
}
#menu a:hover {
    background:#ddd;
    /*color:red;*/
}
#menu a.active {
    /*background:#ddd;*/
    color: #CC0000;
    font-weight: bold;
}
#content2{
    background:whitesmoke;
    height: 100%;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#content{
    background:whitesmoke;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

#result{
        margin:10px 0px 10px 0px;
}
img.formImage{
    width:20px;
    height: 20px;
}
img.registerImage{
    width:80px;
    height: 30px;
}
#divLoading
{
    display : none;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('../images/loading.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

/*
#menu a {
    margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 25px;
  display: block;
  color: black;
  font-size: 12px;
  background: green;
  font-weight: normal;
}
#menu a:hover {
  color: white;
  font-size: 12px;
  background: red;
  font-weight: normal;
  border: 0px;
}
#menu a.currentLink {
    color: #FF0000;
    font-weight: bold;
}

#footer {
        padding-left:30px;
        padding-right:30px;
        margin-right: 20px;
	background:green;
	color:white;
	width:100%;
	min-height:10px;
	position:absolute;
	bottom:0;
}*/

table, td, th {
    /*border: 1px solid green;*/
    /*text-align: right;*/

}
th {
    background-color: #034BA0;
    color: white;
    text-align: center;
}

td.right{
    text-align: right;
}
td.left{
    text-align: left;
}
div.ui-datepicker{
 font-size:8px;
}
#downloadCSV {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:260px;
    text-align:center;
    background-image: url("../images/excel.PNG") ;
    background-repeat: no-repeat;
}

/*a.paging {
    padding-top:5px;
    display: inline-block;
    vertical-align: top;
    text-decoration:none;
    height:25px;
    width:20px;
    text-align:center;
    background-image: url("../images/controlButton.PNG");
}*/
.basicButton
{
    cursor: pointer;
}
.formButton
{
    cursor: pointer;
}
.driverImage {
    /*width: 500px;
    height: 325px;*/
}
.driverImageDiv {
    height: 350px;
}
.divSelectDriver{
    height: 150px;
    overflow-y:scroll;
}