/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	width:90%;/*1000px;*/
	margin-left:auto;
        margin-right:auto;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
	/*background-image: url("../images/content3.PNG");*/
	background:#E6E6FA;
}
#header {
	background:#ededed;
	color:white;
	text-align:right;
	padding:20px 200px 10px 10px;
	height: 117px;

	background:#000033;
	background-image: url("../images/logo.PNG");
	background-repeat: no-repeat;
	background-position: left;
}
#content {
        padding-left:20px;
	padding-bottom:100px; /* Height of the footer element */

}
#result{
        margin:10px 0px 0px 0px;
}
#footer {
        /*padding-left:20px;
	background:#ffab62;*/
	background:#000033;
	color:white;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

table, td, th {
    border: 1px solid green;
    text-align: right;

}
th {
    background-color: #034BA0;
    text-align: center;
    color: white;
}
td.right{
    padding:10px;
    text-align: right;
    /*width: 100px;*/
}
td.left{
    padding:10px;
    text-align: left;
    /*width: 100px;*/
}
td.coloredLeft{
    padding:10px;
    text-align: left;
    color: white;
}
div.ui-datepicker{
 font-size:12px;
}
#downloadCSV {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:260px;
    text-align:center;
    background-image: url("../images/excel.PNG") ;
    background-repeat: no-repeat;
}

a.paging {
    padding-top:5px;
    display: inline-block;
    vertical-align: top;
    text-decoration:none;
    height:25px;
    width:20px;
    text-align:center;
    background-image: url("../images/controlButton.PNG");
    /*background-color:red;*/
}
.basicButton
{
    background-color: green;
    /*border-radius:6px;*/
    color: white;
    /*font-family: 'Oswald';*/
    font-size: 14px;
    /*text-decoration: none;*/
    cursor: pointer;
    /*border:none;*/
}
.formButton
{
    background-color: #034BA0;
    /*border-radius:6px;*/
    color: white;
    /*font-family: 'Oswald';*/
    font-size: 14px;
    /*text-decoration: none;*/
    cursor: pointer;
    /*border:none;*/
}
.formButton:hover {
    /*border: none;*/
    background:#0771D5;
    box-shadow: 0px 0px 1px #777;
}
.search
{
    background-color: #C9A028;/* #69EF4C;*/
    /*border-radius:6px;*/
    color: black;
    /*font-family: 'Oswald';*/
    font-size: 14px;
    /*text-decoration: none;*/
    cursor: pointer;
    /*border:none;*/
}
.search:hover {
    /*border: none;*/
    background:#fcefa1;
    color: black;
    box-shadow: 0px 0px 1px #777;
}

/*.leftPanel {
    max-width: 10%;
    background:red;
    white-space:nowrap;
    overflow:auto;
    min-width: 80%;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
}
.rightPanel {
    background:yellow;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-align: right;
    float: right;
}*/
.panel {
    display: inline-block; /*this is cause the element to be horizontaly placed. but a paragraph of first element (for example
                           the first div) will cause second element(div ) will cause to inline with the paragraph of first div. That is */
    vertical-align: top;
     width: 32.5%;
    overflow: auto; /*this will cause a scroll bar for overflow elements inside this class*/
     background:green;
}
.panelButton
{
    background-color: #034BA0;
    /*border-radius:6px;*/
    color: white;
    /*font-family: 'Oswald';*/
    font-size: 14px;
    /*text-decoration: none;*/
    cursor: pointer;
    /*border:none;*/
    width: 150px;
    height: 100px;
}
.panelButton:hover {
    /*border: none;*/
    background:#0771D5;
    box-shadow: 0px 0px 1px #777;
}