html,body{
	margin:0;
	padding:0;
    /*cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;*/
        /*font-size: 12px;*/
    width: 100%;
	height:100%;
}
body{
    padding-top: 50px;
}
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
/*.custom-heading{
    font-size: 20px;
}
.customLogo{

    height: 70px;
    width: 150px;
}
.dropDown{
    height: 32px;
}*/
img.required{
    /*background: url(../images/asterisk.png) no-repeat;*/
    width: 8px;
    height: 8px;
}
/*#wrapper {
    height:100%;
    position:relative;
    background:white;

}*/

/*#holder {
    height: calc(100% - 88px);

    position:relative;
    overflow-x: hidden;
    background:#F5F5F5;
}*/
/*#header {
     background:#2EADD3;
    font-family:"Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
     color:#ffffff;
     padding-left:0px;
     padding-right:0px;
     height: 80px;
     border-bottom: 3px solid #d4d4d4;
 }*/
/*#footer {
    background:#4277BB;
    color:white;
    padding-left:0px;
    padding-right:0px;
    height: 80px;
    border-bottom: 3px solid #d4d4d4;
}*/
#divLogo{
    margin:.25em 0 0 1em; /* ADDED */
}
#settingLogo{
    width: 25px;
    height: 25px;
}
/*#navBarLeft {
    background:#474747;
    padding-left: 3px;
    padding-right:0px ;
    color:white;
    height: 100%;
    overflow-x: hidden;
}*/

.userChild.modal-dialog {
    width: 500px;/*35%;*/  /*respsonsive width */
}
@media screen and (max-width: 767px) {
    .userChild.modal-dialog {
        width: 97%; /*respsonsive width */
    }
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#2EADD3;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.custom-primary{
    color:#2EADD3 ;
}

.login-info{
    color:#ffffff ;
}
.login-info:hover{
    color:#ffffff ;
}
.custom-warning{
    color:#FFB84D ;
}
/*.pageSearch{
    width: 80px;
}*/
.modal-header.modal-info {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#0F9200;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header.modal-warning {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#B84442;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*#navBar {
    color:white;
    height: 100%;
}*/
#status {
        padding:10px 10px 0px 10px;

}
/*
#forMinHeight{
    min-width: 400px;
}
.ui-widget {
    font-family: Arial,Verdana,sans-serif;
    font-size: 0.9em;
}
#searchCriteria {
    padding:10px 10px 0px 10px;

}*/

#content2{
    background:whitesmoke;

}
/*
#forLoadingCtrlQuery{
    max-height: 500px;
    overflow-y: scroll;
}
#result{
        margin:10px 0px 10px 0px;
}
img.formImage{
    width:20px;
    height: 20px;
}
img.registerImage{
    width:80px;
    height: 30px;
}*/
#divLoading
{
    display : none;
}
label.error{
    color: red;
    font-weight: normal;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('../images/loading.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
/*
.forReloadSelect{
    display: inline;
}*/
table, td, th {

}
/*table{
    overflow-x: scroll;
    width: auto;
}*/

.customTableAlert{
    text-align:center;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    color: #000000;
}
th {
    background-color: #2EADD3;
    color: #000000;
    text-align: center;
}

td.right{
    text-align: right;
}
td.left{
    text-align: left;
}
div.ui-datepicker{
 font-size:8px;
}
#downloadCSV {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:260px;
    text-align:center;
    background-image: url("../../images/excel.PNG") ;
    background-repeat: no-repeat;
}

.basicButton
{
    cursor: pointer;
}
.formButton
{
    cursor: pointer;
}
#div_search_result{
    height: 550px;
    overflow-y:scroll;
    overflow-x: hidden;
}
.labels {
    color: #000000;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
}


.table tbody tr > td.my_success {
    /*background-color: #dff0d8 !important;*/
    background-color: #00FF00 !important;
}

.table tbody tr > td.error {
    background-color: #f2dede !important;
}

.table tbody tr > td.warning {
    background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
    background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
    background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
    background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
    background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
    background-color: #c4e3f3 !important;
}