html,body{
	margin:0;
	padding:0;
    /*cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;*/
        /*font-size: 12px;*/
    width: 100%;
	height:100%;
}
#map-canvas {
    height: 800px;
    margin: 0;
    padding: 0;
}
.custom-heading{
    font-size: 20px;
}
.customLogo{

    height: 70px;
    width: 150px;
}
.dropDown{
    height: 32px;
}
img.required{
    /*background: url(../images/asterisk.png) no-repeat;*/
    width: 12px;
    height: 12px;
}
#wrapper {
    height:100%;
    /*overflow-y: hidden;*/
    position:relative;
    /*overflow-x: hidden;*/
    background:white;/*#E6E6FA*/

}

#holder {
    height: calc(100% - 88px); /* header , border, footer 80+3+5  footer 80px
    /*overflow-y: hidden;*/
    position:relative;
    overflow-x: hidden;
    background:#F5F5F5;/*#E6E6FA*/
}
#header {
     background:#2EADD3; /*#99CCFF;*/
    font-family:"Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
     color:#ffffff;
     padding-left:0px;
     padding-right:0px;
     height: 80px;
     border-bottom: 3px solid #d4d4d4;
 }
/*#footer {
    background:#4277BB;
    color:white;
    padding-left:0px;
    padding-right:0px;
    height: 80px;
    border-bottom: 3px solid #d4d4d4;
}*/
#divLogo{
    margin:.25em 0 0 1em; /* ADDED */
}
#settingLogo{
    width: 25px;
    height: 25px;
}
#navBarLeft {
    background:#474747;/*#f79626;#99CCFF;*/
    padding-left: 3px;
    padding-right:0px ;
    color:white;
    height: 100%;
    overflow-x: hidden;  /*this is parent div of navBar and overflow is set to hidden to hide scroll bar in child div nav bar. nav bar is still scrollable
    /*left:0px;right:0px;bottom:0px;*/
}

.userChild.modal-dialog {
    width: 500px;/*35%;*/  /*respsonsive width */
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#2EADD3;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.custom-primary{
    color:#2EADD3 ;
}

.login-info{
    color:#ffffff ;
}
.login-info:hover{
    color:#ffffff ;
}
.custom-warning{
    color:#FFB84D ;
}
/*.pageSearch{
    width: 80px;
}*/
.modal-header.modal-info {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#0F9200;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header.modal-warning {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color:#B84442;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#navBar {
    color:white;
    height: 100%;
}
#status {
        padding:10px 10px 0px 10px;

}
#forMinHeight{
    min-width: 400px;
}
.ui-widget {
    font-family: Arial,Verdana,sans-serif;
    font-size: 0.9em;
}
#searchCriteria {
    padding:10px 10px 0px 10px;

}
#menu {
    padding:0;
    margin:0;
    /*font-weight: bold;
    width:0;*/ /* ADDED */
}
#menu li {
    list-style-type:none;
    margin:0 0 0.25em 1em; /* ADDED */
    font-weight: bold;
}
#menu li label{
    font-weight: bold;
}
#menu a,#menu a:visited {
    display:block;
    height: 38px;
    /*width:9em;*/
    /*border:1px solid #808;*/
    font-family:arial, verdana, sans-serif; /* ADDED */
    /*font-size:0.8em;*/ /* ADDED */
    text-align:left; /* ADDED */
    text-decoration:none; /* ADDED */
    background:#F8A03C;/*#99CCFF;*//*#808;*/ /* ADDED */
    color:#000000;/*#eee;*/ /* ADDED */
    padding:0.25em; /* ADDED */
    font-weight: bold;
}
#menu a:hover {
    background:#ddd;
    font-weight: bold;
    /*color: #CC0000;*/
    /*color:red;*/
}
#menu label.tree-toggler:hover {
    background:#ddd;
    font-weight: bold;
    /*color: #CC0000;*/
    /*color:red;*/
}
#menu a.active {
    /*background:#ddd;*/
    color:#CC0000;
    font-weight: bold;

}
#menu label{
    /*cursor:row-resize ;*/
    text-align:left; /* ADDED */
    padding:0.25em; /* ADDED */
    color: #000000;
    font-style: normal;
    font-weight: normal;
    /*margin:0 0 0.25em 1em;*/ /* ADDED */
}
#content2{
    background:whitesmoke;
    height: 100%;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*#content{
    background:whitesmoke;
    height: 100%;
    padding: 10px 10px 10px 10px;
}*/
#forLoadingCtrlQuery{
    max-height: 500px;
    overflow-y: scroll;
}
#result{
        margin:10px 0px 10px 0px;
}
img.formImage{
    width:20px;
    height: 20px;
}
img.registerImage{
    width:80px;
    height: 30px;
}
#divLoading
{
    display : none;
}
label.error{
    color: red;
    font-weight: normal;
}
#divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('../images/loading.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

.forReloadSelect{
    display: inline;
}
table, td, th {
    /*min-height: 300px;*/
    /*margin-bottom: 0px;
    padding-bottom: 0px;*/

}
table{
    overflow-x: scroll;
    width: auto;
}

.customTableAlert{
    text-align:center;
    vertical-align: middle;
    height: 300px;
    line-height: 300px;
}
th {
    background-color: #2EADD3;
    color: #000000;
    text-align: center;
}

td.right{
    text-align: right;
}
td.left{
    text-align: left;
}
div.ui-datepicker{
 font-size:8px;
}
#downloadCSV {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:260px;
    text-align:center;
    background-image: url("../images/excel.PNG") ;
    background-repeat: no-repeat;
}

.basicButton
{
    cursor: pointer;
}
.formButton
{
    cursor: pointer;
}
.driverImage {
    /*width: 500px;
    height: 325px;*/
}
.driverImageDiv {
    height: 350px;
}
#div_search_result{
    height: 550px;
    overflow-y:scroll;
    overflow-x: hidden;
}
.labels {
    color: #000000;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
}
/*#menu label {
    list-style-type:none;
    margin:0 0 0.25em 1em;
}*/

.table tbody tr > td.my_success {
    /*background-color: #dff0d8 !important;*/
    background-color: #00FF00 !important;
}

.table tbody tr > td.error {
    background-color: #f2dede !important;
}

.table tbody tr > td.warning {
    background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
    background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
    background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
    background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
    background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
    background-color: #c4e3f3 !important;
}